#element { margin:0; padding:0; font-size:100%; line-height:1; }
html {
	background-image: url("../images/triforce.png");	
}
body  {
	font-family: Trabuchet MS, sans-serif;
	width: 948px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
	background: #006400;
}
h1, h2, h3, p, a {
	margin: 0;
	padding: 0;
	color: lightgrey;
}
h3 {
	text-decoration: underline;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
	background-image: -webkit-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 158px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu li {
	position: relative;
}
#nav_menu ul li ul li ul li{
	left: 158px;
	bottom: 41px;
}
#nav_menu ul li a.current {
	color: green;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

aside {
	float: left; 
	width: 160px;
	height: 660px;
	padding: 0px;
	border-right: 5px double black;
	border-left: 5px double black;
}

#right {
	width:283px;
	padding-top:20px;
	height:640px;
}
#right h2{
	text-align: left;
	margin-left: 20px;
}
#right img{
	float: right;
	margin-right: 20px;
	border: 1px solid lightgrey;
}
#right h3, p {
	margin-left: 20px;
	margin-right: 20px;
}

#nav_list ul { 
	list-style: none;
	padding-left: 20px;
}
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.7em;
}
section h2 img{
	float: right;
	margin-right: 160px;
}
/* Section */
section {
	width: 450px;
	float: left;
	padding: 20px 15px 20px 20px;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: green;
}

table {
	width: 100%;
	outline: 2px solid black;
	color: lightgrey;
}
tr{
	outline: 1px solid black;
}
td{
	outline: 1px solid black;
	padding: 2px 2px 2px 2px;
	text-align: center;
}
th{
	outline: 1px solid black;
	padding: 2px 2px 2px 2px;
	text-align: center;
	width: 151px;
}
textarea {
	resize:none;
}
#mid {
	width: 167px;
	height: 170px;
	float: right;
	border-top: 5px double black;
	border-bottom: 5px double black;
}
#mid p{
	padding: 0;
	margin: 3px;
}

footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
    background-image: linear-gradient(45deg, white 0%, green 15%, green 55%, black 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}